@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

body { 
  font: normal .80em arial, sans-serif;
  background: #000 url(../images/nvo.png) no-repeat;
  color: #444;
}

img { 
  padding-top: 10px;
  border: 0;
}

h1, h2, h3, h4, h5 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 170% "News Cycle", arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #FBFBFB;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h5 { 
  color: #F67400;
  padding: 0 0 5px 0;
}

h4 {
  font: normal 130% arial, sans-serif;
}

h5 {
  font: normal 90% arial, sans-serif;
}

h6 {
  color: #362C20;
  letter-spacing: 0em;
  font-size: 25px; 
  color: #555;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}


a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #09BCE8;
}

a:hover { 
  text-decoration: none;
}

header { 
  background: transparent;
  height: 150px;
}

footer {
  text-align: center;
}

#logo { 
  width: 100%;
  height: 150px;
  background: #FFFFFF;
  opacity:0.5;
  color: #888;
  padding: 0 0 0 0px;
}

#main {
  margin: 5px auto;
  width: 930px;
  background: transparent;
  padding-top: 30px;
  padding-bottom: 2px;
  margin-left: auto; 
  margin-right: auto;
}

#welcome {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

#login {
  text-align: center;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-right: 400px;
  margin-top: 0px;
  margin-left: 340px;
  margin-bottom: 10px;
  background: #000 url(../images/BG.jpg) no-repeat;
}

.textbox {
	border: 1px solid #DBE1EB;
	font-size: 12px;
	font-family: Arial, Verdana;
	padding: 7px 7px 10px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background: #FFFFFF;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	color: #2E3133;
}

#botton {
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 87px;
}
